.loginForm,
.newUser,
.newImage {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 45px;
  float: left;
}

label {
  display: block;
}

#submitButton {
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f97720;

  border-radius: 3px;
  outline: none;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 150px;
  box-shadow: 0px 0px 18px 1px rgba(189, 189, 189, 1);
}

#submitButton:hover {
  background-color: #f97720;
  border: 0;
}

.addTags {
  margin-bottom: 15px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.tagBox {
  border: 0;
  width: 100%;
  height: 150px;
}

#userBio {
  width: 500px;
  height: 100px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;

  font-size: 14px;
  border: 1px solid #e1dfdf;
}

.loginMessageBox,
.imageFormMessageBox {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  background: white;
  position: fixed;
  border-radius: 10px;
}

.loginError,
.imageFormError {
  margin-top: 15px;
  text-align: center;
  max-height: 80px;
  padding-right: 15px;
  overflow: scroll;
}

.messageBoxButton {
  border: 0;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: underline;
  color: blue;
  font-size: 18px;
  outline: none;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}
.messageBoxButton:hover {
  cursor: pointer;
}

.warningIcon {
  float: left;
  padding-left: 5px;
  margin-top: 5px;
  height: 30px;
  width: 30px;
}
