.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}
#filterBar {
  height: 100%;
  width: 100%;
}
#searchBar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}
input[name="searchInput"] {
  width: 82%;
  height: 90%;
  font-size: 24px;
  background-color: #fafafa;
  position: absolute;
  top: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  border: 1px solid #e1dfdf;
}

input[name="searchInput"]:focus {
  margin-top: 0px !important;
  height: 80%;
}

#imageTags {
  display: flex;
  flex-direction: row;
  margin-left: -100px;
}

#searchButton {
  width: 17%;
  height: 100%;
  position: absolute;
  right: 0px;
  background: 0;
  border: 1px solid black;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
}

#searchButton:hover {
  background: #f97720;
  box-shadow: 0 0 5px #f97720;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 0;
  margin-top: 0px;

  cursor: pointer;
}
#searchButton:focus {
  outline: none;
}

img[name="mainPagePhotos"] {
  height: 20vw;
  width: 20vw;
  margin: 1vw;
  object-fit: cover;
}
.squareImage {
}

img[name="mainPagePhotos"]:hover {
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  padding-bottom: 4px;
  margin-top: 6px;
  opacity: 0.8;
}

.allImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: auto;
  margin-top: 20px;
}

#filterChoices {
  display: flex;
  flex-direction: row;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

img[name="mainPagePhotos"]:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.mainImageError {
  color: red;
  font-size: 24px;
  margin-top: 70px;
}
