.profilePage {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.profileHeader {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.imagesDelete {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  margin-top: 20px;
  display: inline-block;
  position: relative; */
}
.imagesDelete {
  margin: 10px;
  width: 20vw;
  /* height: 20%; */
  height: 20vw;
}
#deleteButton {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 30px;
  padding: 10px;
  display: none;
  margin-top: 0px;
}
#deleteButton:hover {
  cursor: pointer;
  display: block;
}

img[name="profilePagePhotos"] {
  width: 100%;
  height: 100%;
  margin: 10px;
  object-fit: cover;
}
img[name="profilePagePhotos"]:hover + #deleteButton {
  cursor: pointer;
  display: block;
  z-index: 1;
}
.ProfileallImages {
  display: flex;

  /* width: 100vw; */
  width: fit-content;

  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
  flex-flow: wrap;
}
.profilePhoto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 250px;
  border: 1px solid #e6e6e6;
}

.headerUserInfo {
  width: 350px;
  margin-left: 70px;
  margin-top: 20px;
}

.headerUserName {
  font-size: 30px;
}

.headerBio {
  margin-top: 15px;
}
@media screen and (max-width: 1024px) {
  .imagesDelete {
    width: 40vw;
    height: 40vw;
  }
}

@media screen and (max-width: 500px) {
  /* .allImages {
    display: flex;
    flex-direction: row;

  } */
  .imagesDelete {
    width: 180vw;
    height: 180vw;
  }
}
