.profilePage {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.profileHeader {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.imagesDelete {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  display: inline-block;
  position: relative;
}

#deleteButton {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 30px;
  padding: 10px;
  display: none;
  margin-top: 0px;
}
#deleteButton:hover {
  cursor: pointer;
  display: block;
}

img[name="profilePagePhotos"] {
  width: 300px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
  flex-direction: row;
}
img[name="profilePagePhotos"]:hover + #deleteButton {
  display: block;
}

.profilePhoto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 250px;
  border: 1px solid #e6e6e6;
}

.headerUserInfo {
  width: 350px;
  margin-left: 70px;
  margin-top: 20px;
}

.headerUserName {
  font-size: 30px;
}

.headerBio {
  margin-top: 15px;
}

.profileError {
  width: 300px;
  height: 100px;
  border: 1px solid black;
  background: white;
  position: fixed;
  margin-left: 40%;
  border-radius: 10px;
}

.profileErrorMessage {
  margin-top: 15px;
  text-align: center;
  max-height: 80px;
  padding-right: 15px;
  overflow: scroll;
}

.closeProfileError {
  border: 0;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: underline;
  color: blue;
  font-size: 18px;
  outline: none;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 5px;
}
.closeProfileError:hover {
  cursor: pointer;
}

.warningIcon {
  float: left;
  padding-left: 5px;
  margin-top: 5px;
  height: 30px;
  width: 30px;
}
