@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100");

#restaurantName {
  display: block;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  padding-bottom: 10px;
}

#imageDescription {
  display: block;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}

#custom-file-upload {
  border: 0;
  display: inline-block;

  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  height: 23px;
  font-size: 20px;
}
img {
  height: 100%;
  margin-left: 15px;
  margin-bottom: -2px;
}

#custom-file-upload:hover {
  color: #f97720;
}
