.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

#searchBar {
  width: 400px;
  display: flex;
  flex-direction: row;
}
#searchInput {
  height: 100%;
  font-size: 25px;
}
#imageTags {
  display: flex;
  flex-direction: row;
  margin-left: -100px;
}

#searchButton {
  margin-top: 6px;
  width: 94px;
  height: 40px;
  position: absolute;
  background: 0;
  border: 1px solid black;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
}

#searchButton:hover {
  background: #f97720;

  border: 0;

  cursor: pointer;
}

img[name="mainPagePhotos"] {
  width: 300px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
}
img[name="mainPagePhotos"]:hover {
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  padding-bottom: 4px;
  margin-top: 6px;
}

.allImages {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: inline-block;
}

#filterChoices {
  display: flex;
  flex-direction: row;
}
