.photoPage {
  display: flex;
  flex-direction: row;
  justify-content: center;

  border: 1px solid black;
  width: 700px;
  margin: auto;
  margin-top: 100px;
  padding: 70px;
}

#photoPageImage {
  width: 300px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
}
